@tailwind base;
@tailwind components;
@tailwind utilities;

/* OR if you want to use CDN version, add this instead: */
@import url('https://cdn.tailwindcss.com');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}